<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="eKYC, Bangladesh, Technology, OCR, Face Recognition, Election Commission, Bank" />
  <meta name="description" content="Electronic KYC for Financial Organization by GIGA TECH" />
  <meta name="author" content="GIGA TECH Limited" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <title>GIGATECH eKYC</title>
  <base href="/agent">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/assets/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/assets/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/assets/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/assets/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/assets/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/assets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/assets/images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/static/styles.4da0dc430a952ac657e7.css"></head>
<body>
<app-root></app-root>

<script type="text/javascript" src="/static/runtime.ec2944dd8b20ec099bf3.js"></script><script type="text/javascript" src="/static/polyfills.74cd1c2c46053f8f518d.js"></script><script type="text/javascript" src="/static/scripts.e38ea6f7a4263e41fa2f.js"></script><script type="text/javascript" src="/static/main.58aaa18adcdda60e0f47.js"></script></body>
</html>
