<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>EKYC Account Opening Preview</title>
    <link rel="icon" href="/static/ific/images/favicon.ico" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="/static/ific/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/static/ific/css/mdbootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/ific/css/mdbootstrap/mdb.min.css" />
    <link href="/static/ific/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <!-- Header -->
        <nav class="navbar navbar-expand-md header">
            <a class="navbar-brand" href="#">
                <img src="/static/ific/images/Logo_Header.svg" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars" style="color:#afafaf; font-size:26px;"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse nav-header" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link username" href="#">
                            <i class="fas fa-user user-icon"></i>
                            <label class="user-label">Sourov aich</label>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button type="button" class="logout-btn">
                                <span class="logout-btn-text">Logout</span>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Main Container -->
        <div class="container-app">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 textStyleFormTitle" style="padding-left: 2px;">
                            Application form preview
                        </div>
                        <div class="col-6" align="right">
                            <i class="fas fa-print" style="color:#2b8b30;"></i>
                            <i class="fas fa-file-pdf" style="color:#ff0000;"></i>
                            <!--<i class="fas fa-pencil-alt" style="color:#58b65d;"></i>-->
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/static/ific/images/bangladesh_-1.png" />
                        </div>
                        <div class="col-md-3">
                            <div class="row textStyleFormSmall">
                                <div class="col-12">
                                    <label>NID</label>
                                    <p>19931917431000040</p>
                                </div>
                                <div class="col-12">
                                    <label>Date of Birth</label>
                                    <p>01/01/1993</p>
                                </div>
                                <div class="col-12">
                                    <label>Email Address</label>
                                    <p>mezbauddin@gmail.com</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row textStyleFormSmall">
                                <div class="col-12">
                                    <label>Name(In English)</label>
                                    <p>Mezba Uddin</p>
                                </div>
                                <div class="col-12">
                                    <label>Name(In Bangla)</label>
                                    <p>মেজবা উদ্দিন</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row textStyleFormSmall">
                                <div class="col-12">
                                    <label>Account Type</label>
                                    <p>Shohoj</p>
                                </div>
                                <div class="col-12">
                                    <label>Contact Number</label>
                                    <p>01692123456</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="textStyleFormTitle">
                    Personal Information
                </div>
                <hr>
                <div class="col-12">
                    <div class="row textStyleFormSmall">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <label>Father Name(In English)</label>
                                    <p>Anamul Haque</p>
                                </div>
                                <div class="col-12">
                                    <label>Mother Name(In English)</label>
                                    <p>Tahmina Akter</p>
                                </div>
                                <div class="col-12">
                                    <label>Spouse Name(In English)</label>
                                    <p>Rahima</p>
                                </div>
                                <div class="col-12">
                                    <label>Spouse Name(In English)</label>
                                    <p>N/A</p>
                                </div>
                                <div class="col-12">
                                    <label>Place of Birth</label>
                                    <p>Bangladesh</p>
                                </div>
                                <div class="col-12">
                                    <label>Gender</label>
                                    <p>Male</p>
                                </div>
                                <div class="col-12">
                                    <label>Country of Birth</label>
                                    <p>Bangladesh</p>
                                </div>
                                <div class="col-12">
                                    <label>Present Address (In English)</label>
                                    <p>Pragati Insurance Bhaban, 20-21, Karwan Bazar, Dhaka - 1215</p>
                                </div>
                                <div class="col-12">
                                    <label>Present Address(In Bangla)</label>
                                    <p>প্রগতি ইন্সুরেন্স ভবন, টো-২১, কারওয়ান বাজার, ঢাকা - ১২১৫</p>
                                </div>
                                <div class="col-12">
                                    <label>Parmanent Address(In English)</label>
                                    <p>Pragati Insurance Bhaban, 20-21, Karwan Bazar, Dhaka - 1215</p>
                                </div>
                                <div class="col-12">
                                    <label>Parmanent Address(In Bangla)</label>
                                    <p>প্রগতি ইন্সুরেন্স ভবন, টো-২১, কারওয়ান বাজার, ঢাকা - ১২১৫</p>
                                </div>
                                <div class="col-12">
                                    <label>E-TIN Number</label>
                                    <p>3123456789876543</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <label>Father Name(In Bangla)</label>
                                    <p>আনামুল হক</p>
                                </div>
                                <div class="col-12">
                                    <label>Mother Name(In Bangla)</label>
                                    <p>তাহমিনা আক্তার</p>
                                </div>
                                <div class="col-12">
                                    <label>Spouse Name(In Bangla)</label>
                                    <p> রহিমা</p>
                                </div>
                                <div class="col-12">
                                    <label>Spouse Name(In Bangla)</label>
                                    <p>প্রযোজ্য নয়</p>
                                </div>
                                <div class="col-12">
                                    <label>region</label>
                                    <p>Islam</p>
                                </div>
                                <div class="col-12">
                                    <label>Profession</label>
                                    <p>Banker</h3>
                                </div>
                                <div class="col-12">
                                    <label>Residential Status</label>
                                    <p>Dhaka</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="textStyleFormTitle">
                    Applicant NID card
                </div>
                <hr>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/static/ific/images/WEB_Militant-Mejbah_National-ID_Edited_14.1.2018@2x.png" style="padding: 5%;" />
                        </div>
                        <div class="col-md-6">
                            <img src="/static/ific/images/asset-1@2x.png" style="padding: 5%;" />
                        </div>
                    </div>
                </div>
                <div class="textStyleFormTitle">
                    Nominee Information
                </div>
                <hr>
                <div class="col-12">
                    <div class="row textStyleFormSmall">
                        <div class="col-md-3">
                            <img src="/static/ific/images/Avi-Kahn-2@2x.png" style="padding: 5%;" />
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-12">
                                    <label>Name(In English)</label>
                                    <p>Anamul Haque</p>
                                </div>
                                <div class="col-12">
                                    <label>Relationship with A/C holder</label>
                                    <p>Anamul Haque</p>
                                </div>
                                <div class="col-12">
                                    <label>Name(In English)</label>
                                    <p>Father</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="/static/ific/images/WEB_Militant-Mejbah_National-ID_Edited_-2@2x.png" style="padding: 5%;" />
                        </div>
                        <div class="col-md-3">
                            <img src="/static/ific/images/asset-2@2x.png" style="padding: 5%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 40px 0 0 0;">
                <div class="col-12">
                    <div class="md-form" style="text-align:center;margin:0;">
                        <button type="button" class="registration-btn" onclick="goTo('AfterApplicationSubmit.html')">
                            <span class="registration-btn-text ">Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <p class="copy-right-text">© Copyright 2020 GigaTech Ltd.</p>
        </footer>
        <script type="text/javascript" src="/static/ific/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/popper.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/mdb.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/custom.js"></script>
</body>

</html>