<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>EKYC Applicant Photo Preview</title>
    <link rel="icon" href="/static/ific/images/favicon.ico" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="/static/ific/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/static/ific/css/mdbootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/ific/css/mdbootstrap/mdb.min.css" />
    <link href="/static/ific/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <!-- Header -->
        <nav class="navbar navbar-expand-md header">
            <a class="navbar-brand" href="#">
                <img src="/static/ific/images/Logo_Header.svg" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars" style="color:#afafaf; font-size:26px;"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse nav-header" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link username" href="#">
                            <i class="fas fa-user user-icon"></i>
                            <label class="user-label">Sourov aich</label>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button type="button" class="logout-btn">
                                <span class="logout-btn-text">Logout</span>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="header-progress">
            <div class="opening">Application for Account Opening</div>
            <div class="progDiv">
                <div class="left-controls">
                    <button class="back-next-btn">
                        <span class="previous round">&#8249;</span>
                    </button>
                    <button class="back-next-btn">
                        <span class="next round">&#8250;</span>
                    </button>
                </div>
                <div class='progressDivBar'>
                    <div class='bar'>
                        <div class='bar__fill' style="width:75%;">
                        </div>
                    </div>
                    <div class='point point--complete'>
                        <div class='bullet'></div>
                        <label></label>
                    </div>
                    <div class='point point--complete'>
                        <div class='bullet'></div>
                        <label></label>
                    </div>
                    <div class='point point--complete'>
                        <div class='bullet'></div>
                        <label></label>
                    </div>
                    <div class='point point--active'>
                        <div class='ActiveBullet'></div>
                        <label class="point-active-text">Applicant photo</label>
                    </div>
                    <div class='point'>
                        <div class='UnfinushedBullet'></div>
                        <label></label>
                    </div>
                </div>
                <div class="right-controls"></div>
            </div>
        </div>
        <!-- Main Container -->
        <div class="container-app">
            <div class="row">
                <div class="col-md-12">
                    <div class="applicant-photo-box" style="margin: 0 auto;">
                        <h1 class="applicant-photo-title">Preview of the capture photo</h1>
                        <div class="applicat-photo-frame">
                            <img src="/static/ific/images/bangladesh_1553674886_725x725@2x.png" style="margin:5%;" />
                        </div>
                        <h5 class="webcam-permission-title" style="color: #707070;margin-bottom: 10px;">Additionally, you can upload a photo of yours: </h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="custom-file upFile" style="width: 370px;margin:0 auto;text-align:center;display: block;">
                                    <input type="file" class="custom-file-input" id="customFileLangHTML">
                                    <label class="custom-file-label browseColor" for="customFileLangHTML" data-browse="Browse">Upload Your Picture</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="width:295px; margin:20px auto;">
                                    <button type="submit" class="registration-btn" style="background: #EB4D50 0% 0% no-repeat padding-box;">
                                        <span class="registration-btn-text">Try Again</span>
                                    </button>
                                    <button type="submit" class="registration-btn" style="margin-left: 20px;" onclick="goTo('NomineeInformation.html')">
                                        <span class="registration-btn-text">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <p class="copy-right-text">© Copyright 2020 GigaTech Ltd.</p>
        </footer>
        <script type="text/javascript" src="/static/ific/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/popper.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/mdb.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/custom.js"></script>
</body>

</html>