<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EKYC Forgot Password</title>
    <link rel="icon" href="/static/ific/images/favicon.ico" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="/static/ific/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/static/ific/css/mdbootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/ific/css/mdbootstrap/mdb.min.css" />
    <link href="/static/ific/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <!-- Header -->
        <header class="header">
            <div class="logo">
                <img src="/static/ific/images/Logo_Header.svg" />
            </div>
            <div class="logged-in-info">
                <div class="user-info"></div>
                <div class="setting-info"></div>
            </div>
        </header>
        <!-- Main Container -->
        <div class="container-box">
            <div class="row">
                <div class="col-md-7 col-sm-12 vector-illustration">
                    <img class="ific-vector-logo" src="/static/ific/images/Logo_Header.svg" />
                    <img src="/static/ific/images/Forgot_your_password.svg" />
                </div>
                <div class="col-md-5 forgot-password-form">
                    <form method="post" action="" class="needs-validation" novalidate>
                        <div class="login-fancy pb-40 clearfix divDown">
                            <div class="login-heading">Forgot your password?</div>
                            <!-- Material input -->
                            <div class="md-form">
                                <input type="text" id="email" class="form-control">
                                <label for="email">your email or phone</label>
                                <div class="email invalid-msg"></div>
                            </div>
                            <!-- Capcha input -->
                            <div class="md-form">
                                <div class="capcha-box">
                                    <input type="checkbox" class="capcha-check-input" />
                                    <p class="capcha-text">I’m not a robot</p>
                                </div>
                            </div>
                            <button type="submit" class="submit-btn">
                                <span class="submit-btn-text">Submit</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- Footer -->
    <footer class="footer">
        <p class="copy-right-text">© Copyright 2020 GigaTech Ltd.</p>
    </footer>
    <script type="text/javascript" src="/static/ific/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/ific/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/ific/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/ific/js/mdb.min.js"></script>
    <script type="text/javascript" src="/static/ific/js/custom.js"></script>
</body>

</html>
