<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>EKYC Nominee Information</title>
    <link rel="icon" href="/static/ific/images/favicon.ico" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="/static/ific/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/static/ific/css/mdbootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/ific/css/mdbootstrap/mdb.min.css" />
    <link href="/static/ific/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <!-- Header -->
        <nav class="navbar navbar-expand-md header">
            <a class="navbar-brand" href="#">
                <img src="/static/ific/images/Logo_Header.svg" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars" style="color:#afafaf; font-size:26px;"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse nav-header" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link username" href="#">
                            <i class="fas fa-user user-icon"></i>
                            <label class="user-label">Sourov aich</label>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button type="button" class="logout-btn">
                                <span class="logout-btn-text">Logout</span>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav> 
        <div class="header-progress">
            <div class="opening">Application for Account Opening</div>
            <div class="progDiv">
                <div class="left-controls">
                    <button class="back-next-btn">
                        <span class="previous round">&#8249;</span>
                    </button>
                    <button class="back-next-btn">
                        <span class="next round">&#8250;</span>
                    </button>
                </div>
                <div class='progressDivBar'>
                    <div class='bar'>
                        <div class='bar__fill' style="width:100%;">
                        </div>
                    </div>
                    <div class='point point--complete'>
                        <div class='bullet'></div>
                        <label></label>
                    </div>
                    <div class='point point--complete'>
                        <div class='bullet'></div>
                        <label></label>
                    </div>
                    <div class='point point--complete'>
                        <div class='bullet'></div>
                        <label></label>
                    </div>
                    <div class='point point--complete'>
                        <div class='bullet'></div>
                        <label></label>
                    </div>
                    <div class='point point--active'>
                        <div class='ActiveBullet'></div>
                        <label class="point-active-text">Nominee Information</label>
                    </div>
                </div>
                <div class="right-controls"></div>
            </div>
        </div>
        <!-- Main Container -->
        <div class="container-app">
            <div class="row">
                <div class="row justify-content-center no-gutters vertical-align">
                    <div class="col-12 col-12 bg-white ">
                        <h3 class="login-email-title textStyle" style="color:#464646;">Nominee Information</h3>
                        <div class=""></div>
                        <ul class="nav nav-tabs textStyle2" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Primary Applicant</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Secondary Applicant (1)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Secondary Applicant (2)</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent" style="background-color: #FAFDF8;padding: 30px 10px;">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row col-12">
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input type="text" id="nameInEnglish1" class="form-control">
                                            <label for="nameInEnglish1">Name (in English)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input type="text" id="relation2" class="form-control">
                                            <label for="relation2">Relationship with A/C holder</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-12">
                                    <div class="col-md-6 ">
                                        <div class="md-form" style="margin:0;">
                                            <input type="text" id="percentage2" class="form-control">
                                            <label for="percentage2">Percentage(%)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="btnCenter3">
                                    <div class="row col-12 ">
                                        <div class="col-md-8">
                                            <div class="custom-file upFile divMargin">
                                                <input type="file" class="custom-file-input" id="customFileLangHTML">
                                                <label class="custom-file-label browseColor" for="customFileLangHTML" data-browse="Browse">
                                                    Upload Your nominee Picture
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="custom-file upFile divMargin">
                                                <input type="file" class="custom-file-input" id="customFileLangHTML">
                                                <label class="custom-file-label browseColor" for="customFileLangHTML" data-browse="Browse">
                                                    Upload Nominee NID or smart card Font Side
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="custom-file upFile divMargin">
                                                <input type="file" class="custom-file-input" id="customFileLangHTML">
                                                <label class="custom-file-label browseColor" for="customFileLangHTML" data-browse="Browse">
                                                    Upload Nominee NID or smart card Back Side
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row col-12">
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input type="text" id="nameInEnglish2" class="form-control">
                                            <label for="nameInEnglish2">Name (in English)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input type="text" id="relation3" class="form-control">
                                            <label for="relation3">Relationship with A/C holder</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-12">
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input type="text" id="percentage3" class="form-control">
                                            <label for="percentage3">Percentage(%)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="btnCenter3">
                                    <div class="row col-12">
                                        <div class="col-md-8">
                                            <div class="custom-file upFile divMargin">
                                                <input type="file" class="custom-file-input" id="customFileLangHTML">
                                                <label class="custom-file-label login-action-btn" for="customFileLangHTML" data-browse="Browse">
                                                    Upload Your Secondary nominee Picture
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="custom-file upFile divMargin">
                                                <input type="file" class="custom-file-input" id="customFileLangHTML">
                                                <label class="custom-file-label login-action-btn" for="customFileLangHTML" data-browse="Browse">
                                                    Upload Nominee NID or smart card Font Side
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="custom-file upFile divMargin">
                                                <input type="file" class="custom-file-input" id="customFileLangHTML">
                                                <label class="custom-file-label login-action-btn" for="customFileLangHTML" data-browse="Browse">
                                                    Upload Nominee NID or smart card Back Side
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row col-12">
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input type="text" id="nameInEnglish3" class="form-control">
                                            <label for="nameInEnglish3">Name (in English)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input type="text" id="relation1" class="form-control">
                                            <label for="relation1">Relationship with A/C holder</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-12">
                                    <div class="col-md-6">
                                        <div class="md-form">
                                            <input type="text" id="percentage1" class="form-control">
                                            <label for="percentage">Percentage(%)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="btnCenter3">
                                    <div class="row col-12">
                                        <div class="col-md-8">
                                            <div class="custom-file upFile divMargin">
                                                <input type="file" class="custom-file-input" id="customFileLangHTML">
                                                <label class="custom-file-label login-action-btn" for="customFileLangHTML" data-browse="Browse">
                                                    Upload Your Secondary nominee Picture
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="custom-file upFile divMargin">
                                                <input type="file" class="custom-file-input" id="customFileLangHTML">
                                                <label class="custom-file-label login-action-btn" for="customFileLangHTML" data-browse="Browse">
                                                    Upload Nominee NID or smart card Font Side
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="custom-file upFile divMargin">
                                                <input type="file" class="custom-file-input" id="customFileLangHTML">
                                                <label class="custom-file-label login-action-btn" for="customFileLangHTML" data-browse="Browse">
                                                    Upload Nominee NID or smart card Back Side
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="row">
                        <div class=" ">
                            <button type="submit" class="registration-btn" onclick="goTo('AccountOpenningPreview.html')">
                                <span class="registration-btn-text ">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <p class="copy-right-text">© Copyright 2020 GigaTech Ltd.</p>
        </footer>
        <script type="text/javascript" src="/static/ific/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/popper.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/static/ific/js/custom.js"></script>
</body>

</html>