<head>
    <meta name="viewport" content="width=device-width" />
    <title>EKYC Contact Information</title>
    <link rel="icon" href="/static/ific/images/favicon.ico" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="/static/ific/css/mdbootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/ific/css/mdbootstrap/mdb.min.css" />
    <link href="/static/ific/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <!-- include partials/header -->

        <!-- Main Container -->
        <div class="container-box successfully-applied-bg">
            <div class="row">
                <div class="col-md-12">
                    <div class="identity-verification-box" style="width: 488px;">
                        <h1 class="submited-title">Your Identity has been Successfully Verified</h1>
                        <p class="tracking-number">Your Tracking Number is <span>86445HGGDH84685465</span></p>
                        <p class="tracking-number-sent">The tracking number has also been sent to your email/mobile number </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Footer -->
        <footer class="footer">
            <p class="copy-right-text">© Copyright 2020 GigaTech Ltd.</p>
        </footer>
        <script type="text/javascript" src="/static/ific/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/popper.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/mdb.min.js"></script>
        <script type="text/javascript" src="/static/ific/js/custom.js"></script>
</body>

</html>
